.button {
    -fx-background-color: #4800ff;
    -fx-text-fill: #fff;
    -fx-font-size: 1.5em;
}

.custom-button {
    -fx-background-color: #ff00aa;
}

.label {
   -fx-text-fill: #fff;
   -fx-font-size: 1.5em;
}

.big-text {
 -fx-font-size: 1.5em;
}